<nav class="navbar navbar-dark bg-primary">
    <ul class="navbar-nav d-flex flex-row">
        <li class="nav-item active mx-4">
            <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item active mx-4">
            <a class="nav-link" href="<%= ADD_ENDPOINT %>&task_id=0">Add</a>
        </li>
    </ul>
</nav>